imutils
opencv-python
dlib
watchdog==0.10.1
psutil
Pillow 
keras 
scitools3 
pulp 
xmltodict 
h5py 
keras_applications 
keras_preprocessing 
matplotlib 
mock 
numpy 
scipy 
sklearn 
pandas 
future 
portpicker 